In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Importing the dataset

In [39]:
dataset = pd.read_csv('Data Processing.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

In [76]:
#If we want to keep x and y a dataframe we can use this
x=dataset[ ['Country','Age','Salary']]
x

Country    0
Age        1
Salary     1
dtype: int64

In [46]:
dataset.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [47]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

### Handling the missing data

In [48]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [49]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [21]:
#For more info and ways we can handle the missing values
#Imputer?

In [ ]:
# Imputing data in a dataframe
x = x.fillna(x.mean())
x[['Age']] = x[['Age']].fillna(value=0) #imputing data in specific columns by specifying the column name
x

### Encoding Categorical Data

In [92]:
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()

# Encoding the Dependent Variable
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

Label Encoder encodes the variables into a numerical value. Here it is encoding the countries into a numerical value. 

The disadvantage in doing that is when python processes it it gives a relational order when it does not even exist, which can affect the models. For ex. France has been encoded as 1 and Spain as 0, but that does not mean France has some greater advantage than Spain. Its just two different categories. 

To prevent that we use OneHotEncoder, which creates dummy variabel to avoid the proble caused by simple encoding. 


LabelEncoder?
OneHotEncoder?

In [103]:
X

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04]])

In [120]:
#Converting an array to a Dataframe
test=pd.DataFrame(data=X)
test=test.round(0) #rounding off the decimal values
test

     0    1    2     3        4
0  1.0  0.0  0.0  44.0  72000.0
1  0.0  0.0  1.0  27.0  48000.0
2  0.0  1.0  0.0  30.0  54000.0
3  0.0  0.0  1.0  38.0  61000.0
4  0.0  1.0  0.0  40.0  63778.0
5  1.0  0.0  0.0  35.0  58000.0
6  0.0  0.0  1.0  39.0  52000.0
7  1.0  0.0  0.0  48.0  79000.0
8  0.0  1.0  0.0  50.0  83000.0
9  1.0  0.0  0.0  37.0  67000.0

In [122]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split 


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
# Feature Scaling
"""from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
sc_y = StandardScaler()
y_train = sc_y.fit_transform(y_train)"""